<body class="welcome">
  <br>
  <div class="container">
    <div class="text">
      <span class="letter r">H</span>
      <span class="letter b">E</span>
      <span class="letter o">L</span>
      <span class="letter g">L</span>
      <span class="letter p">O</span>
    </div>
  </div><br>
  <div class="welcome-photo">
    <div>
    <img width="315" alt="Screen Shot 2021-01-15 at 6 44 20 PM" src="https://user-images.githubusercontent.com/59414750/104793913-bd0b2300-5761-11eb-9fd4-935124ebe0e9.png">
  </div>
  <h3>A place to let your brain unwind from the crazy dwellings of life. There are so many of us where our cultures prevent us from exploring the topic of mental health. It's considered taboo and everything will be solved if you sleep better at night. But as we grow up, we realize that is not always the case and there are actually many triggers that started when we were young and has manifested into these dark thoughts that sometimes feel like you can't escape from. Inside My Head is a platform to provide ways for you to unleash your inhibitions but find annoymous ways to connect with those in the community.Everything is annoymous so it provides a safe place for my introverted friends. Let your mind breathe.</h3>
</body>
