<div class="title">
  <svg height="100" stroke="black" stroke-width="2" class="text-line" width="100%"><text x="50%" dominant-baseline="middle" text-anchor="middle" y="50%">A Whole Page About Me</text></svg>
</div>

<div class = "about">
    <center><img width="315" alt="Screen Shot 2021-01-15 at 6 44 20 PM" src="https://www.pngkey.com/png/full/236-2361837_sharing-your-story-for-better-mental-health-anxiety.png"><center><br>
  <h5>As someone who has struggled my entire life with anxiety, I didn't know unitl I was properly diagnosed in 2021. My mind never takes a break from forming ideas or overanalyzing situations. I haven't found any outlet for my mental health that doesn't require me to login and recieve a bunch of emails. There are moments I need a place to vent to the world without ever wanting to relive that exact moment in my life. This was created for my mental sanity and provide a space for me to vent at that moment in time. </h5>
</div>