<div class="title">
  <svg height="100" stroke="black" stroke-width="2" class="text-line" width="100%"><text x="50%" dominant-baseline="middle" text-anchor="middle" y="50%">A Whole Page About Me</text></svg>
</div>
<p><img class="momo" width="300" alt="Screen Shot 2021-02-04 at 11 42 06 AM" src="https://user-images.githubusercontent.com/59414750/106939877-153ca180-66de-11eb-9611-01b8e079e576.png"></p>